* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    background: #999;
}

input {
    display: none;
}

input[type="radio"]:checked~#main_container .container {
    background: rgba(0, 0, 0, .3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    transition: 1s;
    transition-delay: 1s;
}

label h1 {
    padding-top: 80%;
    width: 100%;
    height: 100vh;
    font-size: 2vw;
    font-family: 'Oregano', cursive, sans-serif;
    text-align: center;
    cursor: pointer;
    position: relative;
    display: inline-block;
    color: #fff;
    text-shadow: 3px 3px 2px #000;
    z-index: 100;
}

label h1:hover {
    color: rgb(255, 115, 0);
    text-decoration: underline;
}

#main_container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
}

.main_menu {
    width: 20%;
}

.main_menu::before {
    content: "";
    width: 20%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: top center;
    transition: 2s;
    z-index: -1;
}

#menu1::before {
    background-image: url(../img/asaf-r-UalImdHGjGU-unsplash.jpeg);
    left: 0;
}

#menu2::before {
    background-image: url(../img/agefis-eqvAIznVqR4-unsplash.jpeg);
    left: 20%;
}

#menu3::before {
    background-image: url(../img/jakob-owens-c0EXwNQhvSo-unsplash.jpeg);
    left: 40%;
}

#menu4::before {
    background-image: url(../img/491F3E7A-8373-4514-833E-B4A2D6A2316E_1_105_c\ 2.jpeg);
    left: 60%;
}

#menu5::before {
    background-image: url(../img/dylan-gillis-KdeqA3aTnBY-unsplash.jpeg);
    left: 80%;
}

.slide {
    width: 20%;
    height: 100%;
    position: absolute;
    background-position: top center;
    background-size: cover;
    z-index: 1;
}

#slide1 {
    background-image: url(../img/asaf-r-UalImdHGjGU-unsplash.jpeg);
}

#slide2 {
    background-image: url(../img/agefis-eqvAIznVqR4-unsplash.jpeg);
    left: 20%;
}

#slide3 {
    background-image: url(../img/jakob-owens-c0EXwNQhvSo-unsplash.jpeg);
    left: 40%;
}

#slide4 {
    background-image: url(../img/491F3E7A-8373-4514-833E-B4A2D6A2316E_1_105_c\ 2.jpeg);
    left: 60%;
}

#slide5 {
    background-image: url(../img/dylan-gillis-KdeqA3aTnBY-unsplash.jpeg);
    left: 80%;
}

.odd {
    animation: slide_down 1s linear 0s 1;
}

.even {
    animation: slide_up 1s linear 0s 1;
}

@keyframes slide_down {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slide_up {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

#radio1:checked~#main_container #menu1::before, #radio2:checked~#main_container #menu2::before, #radio3:checked~#main_container #menu3::before, #radio4:checked~#main_container #menu4::before, #radio5:checked~#main_container #menu5::before {
    position: absolute;
    width: 100vw;
    height: 100%;
    transition: 1s;
    transition-delay: 1s;
    left: 0;
    z-index: 1;
}

input[type="radio"]:checked~#main_container .slide {
    display: none;
}

input[type="radio"]:checked~#main_container .main_menu h1 {
    opacity: 0;
}


#menu_bar {
    position: fixed;
    width: 100%;
    height: 40px;
    text-align: center;
    font-family: 'Oregano', cursive, sans-serif;
    display: flex;
    color: #fff;
    z-index: 10000;
    transform: translateY(-200%);
}
input[type="radio"]:checked~#main_container #menu_bar {
    transform: translateY(0);
    transition: 1s;
    transition-delay: 2s;
}

.bar {
    width: 20%;
    height: 40px;
    margin: auto;
    background: rgba(0, 0, 0, .5);
}

.bar p {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    font-size: 1.5vw;
    line-height: 40px;
}

.bar p:hover {
    cursor: pointer;
}

.bar:hover {
    background-color: rgba(0,200,200,.3);
    transition: .3s;
}

#radio1:checked ~ #main_container #menu_bar #about,
#radio2:checked ~ #main_container #menu_bar #skill,
#radio3:checked ~ #main_container #menu_bar #work,
#radio4:checked ~ #main_container #menu_bar #portfolio,
#radio5:checked ~ #main_container #menu_bar #contact
{
    background: linear-gradient(rgba(255, 154, 59, 0.7), rgba(255, 82, 3, 0.7));
    color: #000;
    text-shadow: 1px 1px 1px #ccc;
}

input[type="radio"]:checked~#main_container #title_wrapper {
    bottom: -100%;
    transition: 1s;
}

#title_wrapper {
    width: 100vw;
    height: 100vw;
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
    overflow: hidden;
    z-index: 1;
}

#sun {
    width: 30%;
    height: 30%;
    background: linear-gradient(rgb(250, 177, 43), rgb(252, 25, 25));
    position: absolute;
    bottom: -5%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    box-shadow: 0 0px 30px rgb(255, 145, 0);
    animation: sunrise 1s ease 3s 1 normal both;
    z-index: 10;
}

#ground {
    background: linear-gradient(0deg, #333 90%, #222 95%, rgb(255, 94, 0));
    width: 100%;
    height: 30%;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    bottom: -28%;
    transform: translateX(-50%);
    border-top: 1px solid rgb(255, 208, 0);
    animation: ground 1s linear 2s 1 normal both;
    z-index: 10;
}

#title_logo {
    text-align: center;
    text-shadow: 1px 1px 3px #fff;
    width: 100%;
    display: block;
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 6vw;
    letter-spacing: .1em;
    font-family: 'Oregano', cursive, sans-serif;
    animation: logo 1s linear 5s 1 normal both;
    z-index: 10;
}

span {
    position: relative;
    display: inline-block;
}

.s {
    transform: rotate(-30deg) translateY(27%);
}

.u {
    transform: rotate(-20deg);
}

.n {
    transform: rotate(-10deg) translateY(-16%);
}

.r {
    transform: translateY(-23%);
}

.i {
    transform: rotate(10deg) translateY(-18%);
}

.z {
    transform: rotate(20deg);
}

.e {
    transform: rotate(30deg) translateY(30%);
}

@keyframes sunrise {
    0% {
        transform: translateX(-50%) translateY(100%);
    }
    100% {
        transform: translateX(-50%) translateY(0);
    }
}

@keyframes ground {
    0% {
        width: 0px;
    }
    100% {
        width: 100%;
    }
}

@keyframes logo {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}